<section>
  <h2>Name: <%= @dog.name %></h2>
  <h3>Owner: <%= @dog.owner.email %></h3>
  <h3>Likes: <%= Like.where(dog_id: @dog.id).count %></h3>

  <% if current_user && @dog.owner_id != current_user.id %>
    <% if @like %>
      <%= link_to "Unlike", like_url(@like), method: :delete %>
    <% else %>
      <%= link_to "Like", dog_likes_url(@dog), method: :post %>
    <% end %>
  <% end %>
  

  <br>
  <% @dog.images.each do |image| %>
    <%= image_tag url_for(image), alt: "Photo of #{@dog.name}" %>
  <% end %>

  <p><%= @dog.description %></p>

  <% if current_user && current_user.id == @dog.owner_id  %>
    <%= link_to "Edit #{@dog.name}'s Profile", edit_dog_path %>
    <br>
    <%= link_to "Delete #{@dog.name}'s Profile", dog_path, method: :delete, data: { confirm: 'Are you sure?' } %>
  <% end %>
</section>
